.count-global{
    font-size: 16px;
    font-weight: 700;
}
.count-x,
.count-o{
    border-radius: 5px;
    border:1px solid rgb(93, 92, 92);
    background: rgb(224, 221, 221);
    padding: 5px 15px;
}
.count-name{
    padding: 0 15px 0 15px;
}